{% extends 'base.html' %}
{% load static %}


{% block content %}
    <script src="{% static 'js/spam_scan.js' %}"></script>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                SPAM SCAN!!!
            </div>
        </div>
        <div class="panel-body">
            <b class="card-text">BE WARNED</b>
            <p class="card-text">These links have NOT been vetted by me or anyone else,
                they are random public profile website links on the osf.io</p>

            <div class="panel-body" >
                  <table class="table">
                      <th>
                          Full name:
                      </th>
                      <th>
                          guid
                      </th>
                      <th>
                          profile site links
                      </th>
                      <tr>
                          <td>
                              {{potential_spammer.full_name}}
                          </td>
                          <td>
                              <a id="user-guid" href="http://osf.io/{{potential_spammer.guid}}">{{potential_spammer.guid}}</a>
                          </td>
                          <td>
                              <ul>
                                  {% for link in potential_spammer.social__profileWebsites %}
                                    <li><a href="{{link}}" class="card-link">{{link}}</a></li>
                                  {% endfor %}
                              </ul>
                          </td>
                      </tr>
                  </table>
            </div>
            <button id="not-spam" class="btn btn-success spam-btn">Not Spam</button>
            <button id="dont-know" class="btn btn-default spam-btn">I don't know</button>
            <button id="spam" class="btn btn-danger spam-btn">Spam</button>
        </div>
    </div>
{% endblock %}